<p id="notice"><%= notice %></p>

<h1>Type2s</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type2s.each do |type2| %>
      <tr>
        <td><%= type2.type %></td>
        <td><%= link_to 'Show', type2 %></td>
        <td><%= link_to 'Edit', edit_type2_path(type2) %></td>
        <td><%= link_to 'Destroy', type2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type2', new_type2_path %>
