<ul>
    <li>
        <%= link_to "Acesso Administrativo" , pokemons_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Pokémons" , pokemons_path %>
    </li>
    <li>
        <%= link_to "Cadastro de numero na dex" , dexes_path %>
    </li>
    <li>
        <%= link_to "Cadastro de tipo 1" , tipo1s_path %>
    </li>
    <li>
        <%= link_to "Cadastro de tipo 2" , tipo2s_path %>
    </li>
</ul>
