


<ul class="nav">
    <li class="nav-item">
        <%= link_to "Cadastro de Pokémons" , pokemons_path, class:"nav-link" %>
    </li>
    <% if current_user.admin %>
    <li class="nav-item">
        <%= link_to "Cadastro de numero na dex" , dexes_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Cadastro de tipo 1" , tipo1s_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Cadastro de tipo 2" , tipo2s_path, class:"nav-link" %>
    </li>
    <% end %>

    <% if user_signed_in? %>
    <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"nav-link" ) %>        
        </li>

    <% end %>
</ul>
