<%= form_with(model: pokemon, local: true) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :dex_id %>
    <%= form.select("dex_id", @dex_options ,{ include_blank: 'selecione'}) %>
  </div>
  
  
  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :sprite %>
    <%= form.text_field :sprite %>
  </div>
  

  <div class="field">
    <%= form.label :tipo1_id %>
    <%= form.select("tipo1_id", @tipo1_options,{ include_blank: 'selecione'}) %>
  </div>
  
  <div class="field">
    <%= form.label :tipo2_id %>
    <%= form.select("tipo2_id", @tipo2_options,{ include_blank: 'selecione'}) %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
